{% for info in object_list %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cibertec</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">{{info.nombre}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="contacto/">Contáctanos</a></li>
                        <li class="nav-item"><a class="nav-link" href="login/">Ingresar</a></li>
                        <li class="nav-item"><a class="nav-link" href="registrar/">Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </nav>        
        {% endblock %}
        <!-- Page header with logo and tagline-->
        {% block header %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">{{info.titulo}}</h1>
                    <p class="lead mb-0">{{info.subtitulo}}</p>
                </div>
            </div>
        </header>
        {% endblock %}
        <!-- Page content-->
		{% block content %}
        <h1>Hola Mundo</h1>
    	{% endblock %}
        <!-- Footer-->
        {% block footer %}
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; {{ info.nombre }} 2022</p></div>
        </footer>
        {% endblock %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'blog/js/scripts.js' %}"></script>
    </body>
</html>
{% endfor %}